.container-all6 {
    margin: 70px 300px;
    display: flex;
    flex-direction: column;

    gap: 30px;

    background-color: green;
}

.h1-createticket {
    color: white;
    font-size: 40px;
    font-weight: 700;
}

.h1-input-createticket {
    color: #FFFFFF80;
    font-size: 20px;
    font-weight: 400;
}

.container-input-createticket {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.inputs1-createticket {
    display: flex;
    gap: 12px;

    width: 174px;
}

.inputs2-createticket {
    display: flex;
    gap: 12px;
    width: 20px;
}

.container-inputs-data-time {
    width: 112px;
}