.container-all4 {
    padding: 70px 300px;
}

.h1-notfound {
    font-size: 40px;
    font-weight: 600;
    color: white;

    margin-top: 26px;
}

.p-notfound {
    font-size: 20px;
    color: #FFFFFF80;
    font-weight: 500;
}

.container-title-notfound {
    display: flex;
    gap: 12px;
    margin-bottom: 60px;
    flex-direction: column;
}

.button1-notfound {
    background: #333333;
    color: white;
}

.container-buttons-notfound {
    width: 180px;
}

.container-buttons2-notfound {
    width: 330px;
}

.all-buttons-notfound {
    display: flex;
    flex-direction: column;
    gap: 20px;
}