.container-title {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.h1-title {
  font-size: 40px;
  font-weight: 700;
  color: #FFFFFF;
}

.h1-title2 {
  font-size: 20px;
  font-weight: 500;
  color: #FFFFFF80;
}

.container-buttons {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 0px 0px 40px 0px;

  border-bottom: 1px solid #55555580;
}

.button-icon-red {
  background: #D45161;
  border: none;

  border-radius: 15px;
  width: 250px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  flex: 1;
}

.button-icon-grey {
  border: none;
  background: #333333;

  border-radius: 15px;
  width: 250px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  flex: 1;
}

.h1-button-red {
  font-size: 18px;
  font-weight: 600;
  color: #222222;

}

.h1-button-grey {
  font-size: 18px;
  font-weight: 600;
  color: #FFFFFF;
}

.button-content {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.container-cards {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}