.header-top {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
  
  width: 100%;
  padding: 30px 0px;

  border-bottom: 1px solid #FFFFFF;

}

.h1-header {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 500;

  text-decoration: none;
}

.img2-header {
  width: 30px;
  height: 30px;

  border-radius: 20px;
}

.header-textContent {
  display: flex;
  gap: 40px;

  align-items: center;
}